@model BLL.Models.TicketTypeModels.TicketTypeResponse

<form method="post" asp-action="ActivePost">
    <input asp-for="Id" hidden />
    <div class="border p-3">
        <div class="form-group row">
            <h2 class="text-info pb-3">Активация Видов Билета</h2>
        </div>
        <div class="row">
            <div class="col-8">
                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="Name">Название</label>

                    </div>
                    <div class="col-4">
                        <input asp-for="Name" class="form-control" disabled />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <div class="col-4">
                        @if (Model.IsActive == true)
                        {
                            <div style="border: 1px solid #ced4da; text-align: center; padding: 5px; background-color: #28a745;">
                                <p style="margin: 0; color: white;">Активно</p>
                            </div>
                        }
                        else
                        {
                            <div style="border: 1px solid #ced4da; text-align: center; padding: 5px; background-color: red">
                                <p style="margin: 0; color: white;">Отключено</p>
                            </div>
                        }
                    </div>

                </div>
                
                <div class="form-group row pt-3">
                    <div class="col-8 offset-4 row">
                        <div class="col">
                            <a asp-action="Index" class="btn btn-info w-100"><i class="fa-solid fa-right-from-bracket"></i>Back</a>
                        </div>
                        
                        @if (Model.IsActive == true)
                        {
                            <div class="col">
                                <input type="submit" class="btn btn-danger w-100" value="Отключить" />
                            </div>
                        }
                        else
                        {
                            <div class="col">
                                <input type="submit" class="btn btn-success w-100" value="Активировать" />
                            </div>
                        }
                    </div>
                </div>
            </div>
            <div class="col-4">
                @* Keep this empty *@
            </div>
        </div>
    </div>
</form>
@section Scripts {
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}
