<div class="container-fluid">
    <div class="row flex-nowrap">
        <div class="bg-dark col-auto col-md-4 col-lg-2 min-vh-100 d-flex flex-column justify-content-between">
            <div class="bg-dark p-2">
                <a href="" class="d-flex text-decoration-none mt-1 align-items-center text-white">
                    <span class="fs-4 d-none d-sm-inline">SideMenu</span>
                </a>
                <ul class="nav nav-pills flex-column mt-4">
                    <li class="nav-item py-2 py-sm-0">
                        <a href="#" class="nav-link text-white" >
                            <i class="fs-5 fa fa-gauge"></i><span class="fs-4 ms-3 d-none d-sm-inline">Dashboard</span>
                        </a>
                    </li>
                    <li class="nav-item py-2 py-sm-0">
                        <a href="/" class="nav-link text-white">
                            <i class="fs-5 fa fa-house"></i><span class="fs-4 ms-3 d-none d-sm-inline">home</span>
                        </a>
                    </li>
                    <li class="nav-item py-2 py-sm-0">
                        <a class="nav-link text-white" asp-area="" asp-controller="Region" asp-action="Index">
                            <i class="fs-5 fa fa-table-list"></i><span class="fs-4 ms-3 d-none d-sm-inline">Области</span>
                        </a>
                    </li>
                    <li class="nav-item py-2 py-sm-0">
                        <a class="nav-link text-white" asp-area="" asp-controller="CitizenShip" asp-action="Index">
                            <i class="fs-5 fa fa-table-list"></i><span class="fs-4 ms-3 d-none d-sm-inline">Гражданство</span>
                        </a>
                    </li>
                </ul>
            </div>

        </div>
    </div>

</div>
